body{
  background:#d1d1d1;
  margin:0;
} 

.hora{
    color:blue;
    padding:2vh;
}

/* Parte de cima */
.apresen{
font-size:1.5vh;
color:blue;
width:80%;
height:10vh;
padding-left:4vw;
padding-top:2vh;
				margin-right: auto;
				
}

.txe{
font-size:7vh;
color:blue;
height:1vh;
padding-left:4vw;
margin-top:1vh;
				margin-right: auto;
}
.img{
				transform:translatey(-1vw)translatex(6vh);
				height:60rem;
				width:60rem;
				
}


.rd2	{
				padding-top:5vh;
				font-size:3.5vh;
				padding-left:5vw;
				padding-right:1vw;
				
				width:136vw;			
				
				
				font-family: "Times New Roman", Times, serif;
				background:white;
						  margin-top:2vh;
						  padding-bottom:3vh;
}
  
.ft_usr{
    width: 6vh;
    
    margin-bottom: -1vh;
    border-radius:25%;
    float:left;
    /*border-radius:50%; */
}

.name{
   margin-top: -3vh;
   
}


.nam{
font-size:2vh;
   float:left;
   margin-top:1vh;
   margin-left: 2vw;
}


.txt_b{
    margin-top: 7vh;
    width: 100vw;
}

.tempo{
    color:grey;
}

cite{
    color: #ffdc00;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 4vh;
  z-index: 999; 
  background-color: rgba(255, 255, 255, 0.9);
  height:10vh;
  width:100%;
}

.espaço{
    padding-bottom: 13vh;
}
 @media(max-width: 574px) {
.ft_usr{
  width:2vh;
}
 
    body{
        transform: scale(0.57);
    transform-origin: 0 0; 
    }
        
    }