  body{
  background:#d1d1d1;
  margin:0;
} 

.hora{
    color:blue;
    padding:2vh;
}

/* Parte de cima */
.apresen{
font-size:1.5vh;
color:blue;
width:80%;
height:1vh;
padding-left:4vw;
padding-top:2vh;
margin-right: auto;
margin-top:2vh;				
}

img{
  max-width: 100% 
}

.txe{
font-size:5vh;
color:blue;
height:1vh;
padding-left:4vw;
margin-top:1vh;
				margin-right: auto;
}

#paginas{
  height:4.5vh;
  background-color:blue;
  width:90%;
  display:flex;
  flex-direction:row;
  justify-content: space-between; 
  padding-left:5%;
  padding-right:5%;
}

#paginas a{
  width:45%;
  text-decoration: none;
  height:4vh;
  font-size:4vh;
  background-color:white;
  text-align:center;
  padding-top:0.5vh;
}


.img{
				transform:translatey(-1vw)translatex(6vh);
				height:300px;
				width:300px;
				
}

.rd2{
				padding-top:5vh;
				font-size:2.4vh;
				padding-left:5%;
				padding-right:1%;
				width:94%;			
				font-family: "Times New Roman", Times, serif;
				background:white;
						  margin-top:2vh;
						  padding-bottom:3vh; 
} 

.rd2 .name img{
    width: 5vh;
    margin-top: 1vh;
    border-radius:25%;
    float:left;
    /*border-radius:50%; */
}

.name{
   margin-top: -3vh;
   
}


.rd2 .name div{
font-size:2vh;
   float:left;
   margin-top:1vh;
   margin-left: 2vw;
}


.txt_b{
    margin-top: 7vh;
    width: 100%;
}

.rd2 .name span{
    color:grey;
}

.rd2 .name ftuser{
  background-image: url(br_usr.png);
  background-size: cover;
  width: 6vh;
  height:6vh;
  margin-bottom: -1vh;
  border-radius:25%;
  float:left;
}

cite{
    color: #ffdc00;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 4vh;
  z-index: 999; 
  background-color: rgba(255, 255, 255, 0.9);
  height:8vh;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
}

.espaco{
    padding-bottom: 12vh;
}

 /*@media(max-width: 574px) {
.ft_usr{
  width:2vh;
}
 
    body{
        transform: scale(0.57);
    transform-origin: 0 0; 
    }
   .rd2{
     width:93.2%;
   }
        
    }*/
   
  #per{
    color: white;
    font-size: 2vh;
    float:right;
    margin-top:-10vh;
    padding: 1%;
    background: blue;
    padding-right:10vw;
    font-family: 'Castoro Titling', cursiva;
  }
 
 #per div{
   font-family: "Times New Roman", Times, serif;
display:inline-block ;
 }
 
.tags{
margin-left:2vw; 
  
}
.title{
  text-align: center;
}

.temp{
  color: Grey;
  margin-top: 2.5vh;
  text-align:center;
}

.button-1{
  background-color:blue;
  border-radius:10px;
  width:40%;
  height:5vh;
  margin-left: 30%;
  margin-top:1%;
  color:White;
}

#inp{
  width: 80%;
  height:5vh; 
  margin-left: 10%;
  border-radius:10px;
}
#caixa{
  margin-top:1vh;
  padding-top: 0.5%;
  padding-bottom: 2.5vh;
  width:80%;
  border-radius:10px;
  background-color:White;
  margin-left:10%;
}

#show_finder{
  height:5vh;
  width:50%;
  border-radius:10px;
  transform: translateY(1vh);
}

.type_center{
  text-align: center;
}

.corner_button{
  width:20vw;
  height:5vh; 
  background-color:white; 
  border:0; 
  border-radius:10px;
}

.corner_button_1{
  width:10vw;
  height:5vh; 
  border-radius:50%;
  transform: translateY(1vh);
}
#corner_bt1{
  margin-left:4vw; 
}
#corner_bt2{
  
}

.ensembre{
  display:inline-block;
}
li{
  list-style: none; 
}

.padrao1{
  background-color: rgba(255, 255, 255, 0.5); 
  border: 2px solid white;
}